@model AspWebProgram.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center">

        <form asp-controller="Account" asp-action="Login" method="post">
          <div class="form-group">
            <input type="text" id="username" class="form-control" asp-for="Username" placeholder="@_localization.GetKey("Kullanıcı Adı")">
          </div>
          <div class="form-group">
            <input type="password" id="password" class="form-control" asp-for="Password" placeholder="@_localization.GetKey("Şifre")">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block" value="@_localization.GetKey("Giriş Yap")">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
