@{
    Layout = "_Layout";
}
<ul class="nav navbar-nav">
    <!-- <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Privacy", "Privacy", "Home")</li>
    <li>@Html.ActionLink("Login", "Login", "Account")</li> -->
</ul>