@model AspWebProgramming.Data.Doktor

@{
    ViewData["Title"] = "Doktor Düzenle";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="DoktorId" />
    
    <div class="form-group">
        <label asp-for="DoktorAd"></label>
        <input asp-for="DoktorAd" class="form-control" />
        <span asp-validation-for="DoktorAd" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DoktorSoyad"></label>
        <input asp-for="DoktorSoyad" class="form-control" />
        <span asp-validation-for="DoktorSoyad" class="text-danger"></span>
    </div>

    <!-- Diğer alanlarınızı burada ekleyin. Örneğin: -->
    <div class="form-group">
        <label asp-for="DoktorTc"></label>
        <input asp-for="DoktorTc" class="form-control" />
        <span asp-validation-for="DoktorTc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DoktorSifre">Şifre:</label>
        <input asp-for="DoktorSifre" type="password" class="form-control" />
        <span asp-validation-for="DoktorSifre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DoktorBrans"></label>
        <input asp-for="DoktorBrans" class="form-control" />
        <span asp-validation-for="DoktorBrans" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="SelectedAnaBilimId">Ana Bilim Seçin:</label>
        <select class="form-control" id="DoktorAnaBilim" asp-for="DoktorAnaBilim" name="DoktorAnaBilim">
            <option value="">Seçiniz</option>
            <option value="Temel Tıp">Temel Tıp</option>
            <option value="Dahili Tıp">Dahili Tıp</option>
            <option value="Cerrahi Tıp">Cerrahi Tıp</option>
        </select>
    </div>

    <div class="form-group">
        <label for="DoktorPoliklinik">Poliklinik Seçin:</label>
        <select class="form-control" id="DoktorPoliklinik" asp-for="DoktorPoliklinik" name="DoktorPoliklinik">
            <option value="">Seçiniz</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="DoktorCinsiyet"></label>
        <select asp-for="DoktorCinsiyet" class="form-control">
            <option value="">Cinsiyet Seçiniz</option>
            <option value="Erkek">Erkek</option>
            <option value="Kadın">Kadın</option>
        </select>
        <span asp-validation-for="DoktorCinsiyet" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
    $(function () {
        $("#DoktorAnaBilim").change(function () {
            var selectedAnaBilim = $(this).val();
            var poliklinikDropdown = $("#DoktorPoliklinik");

            // Poliklinikleri sıfırla
            poliklinikDropdown.empty();

            if (selectedAnaBilim === "Temel Tıp") { // Temel Tıp seçildiğinde
                poliklinikDropdown.append($('<option>', {
                    value: "Anatomi",
                    text: "Anatomi"
                }));
                poliklinikDropdown.append($('<option>', {
                    value: "Fizyoloji",
                    text: "Fizyoloji"
                }));
                poliklinikDropdown.append($('<option>', {
                    value: "Histoloji",
                    text: "Histoloji"
                }));
            } else if (selectedAnaBilim === "Dahili Tıp") { // Dahili Tıp seçildiğinde
                poliklinikDropdown.append($('<option>', {
                    value: "Acil Tıp",
                    text: "Acil Tıp"
                }));
                poliklinikDropdown.append($('<option>', {
                    value: "Kardiyoloji",
                    text: "Kardiyoloji"
                }));
                poliklinikDropdown.append($('<option>', {
                    value: "Radyoloji",
                    text: "Radyoloji"
                }));
            } else if (selectedAnaBilim === "Cerrahi Tıp") { // Cerrahi Tıp seçildiğinde
                poliklinikDropdown.append($('<option>', {
                    value: "Beyin ve Sinir Cerrahisi",
                    text: "Beyin ve Sinir Cerrahisi"
                }));
            }
        });
    });
</script>